body {
    background-color: black;
}

.welcome-banner {
    display: block;
    margin: 0 auto;
    width: 200px;
    padding-top: 50px;
}

.rules-header {
    color: white;
    text-align: center;
}

.rules-text {
    color: white;
    text-align: center;
}

.grid {
    height: 400px;
    width: 400px;
    font-size: 0;
    margin: 0 auto;
        
}

.score-meter {
    color: white;
    text-align: center;
}