body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}

h3 {
    color: white;
    text-align: center;
}

.rules-header {
    color: white;
    text-align: center;
}

.rules-text {
    color: white;
    text-align: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
    font-size: 0;
    margin: 0 auto;
    border: 2px solid purple;
        
}

.attemptsHolder {
    color: white;
    text-align: center;
}

.foundHolder {
    color: white;
    text-align: center;
}

