body {
    background-color: black;
}

h1 {
    color: purple;
    font-family: 'Rock Salt', cursive, sans-serif;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
    font-family: 'Rock Salt', cursive, sans-serif;
}

h3 {
    color: white;
    text-align: center;
    font-family: 'Rock Salt', cursive, sans-serif;
}

p {
    color: white;
    text-align: center;
    font-family: 'Rock Salt', cursive, sans-serif;
    font-size: x-large;
}

strong {
    color: purple
}

.whisper-speech {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.whisper-link {
    margin-left: 200px;
}

.rules {
    color: white;
    text-align: left;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
    font-size: 0;
    margin: 0 auto;
    border: 2px solid purple;

}

.button {
    background-color: purple;
    color: white;
    padding: 15px 32px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.button-div {
    text-align: center;
}

.audio-player {
    text-align: center;
}

@media screen and (max-width: 500px) {
    .whisper-link {
        margin-left: 50px;
    }
}

